[submodule "mysqldumpsplitter"]
	path = sql/mysqldumpsplitter
	url = https://github.com/kedarvj/mysqldumpsplitter
[submodule "sql/mysqldump-to-csv"]
	path = sql/mysqldump-to-csv
	url = https://github.com/bestreyer/mysqldump-to-csv/
